{% comment %}
  Cart drawer trust element - customer testimonial
  Builds confidence before checkout
{% endcomment %}

<div class="cart-trust" data-cart-trust>
  <div class="cart-trust__wrapper">
    <div class="cart-trust__icon" aria-hidden="true">
      <svg aria-hidden="true" focusable="false" role="presentation" width="20" height="20" viewBox="0 0 24 24" fill="currentColor">
        <path d="M6 17h3l2-4V7H5v6h3zm8 0h3l2-4V7h-6v6h3z"/>
      </svg>
    </div>
    <div class="cart-trust__content">
      <span class="cart-trust__eyebrow">Seen in the wild</span>
      <p class="cart-trust__text">"They came today and look great!"</p>
      <span class="cart-trust__author">J.B.</span>
    </div>
  </div>
</div>
